openapi: 3.0.0
info:
  title: Client Consent
  version: 1.0.0
  description: |
       **Note :**
              Please note that the partial updates are supported via PUT APIs. However, Note that If "null" value is passed for any element, in the PUT request body, it will be ignored. An empty string value should be sent (instead of "null" value) for the elements that need to be updated with NULL values.
servers:
  - url: 'https://www.hmislynk.com/'
paths:
  '/clients/{clientid}/consents':
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              example:
                consent:
                  consentId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
              schema:
                $ref: '#/components/schemas/consent_id_schema'
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_NOT_FOUND
                    message: 'Client not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
              schema:
                $ref: '#/components/schemas/client_not_found'
      description: >-
        Create client consent. NOTE- A client consent will also be created when
        a consent request is approved.
      operationId: POST_clients-clientid-consents
      requestBody:
        content:
          application/json:
            example:
              consent:
                clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                startTime: '01-16-2017 14:37:20.351'
                endTime: '02-16-2017 14:37:20.351'
                consentEntities:
                  consentEntities:
                    - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                      consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
                    - consentTypeId: 13954e42-e873-11e6-bf01-fe55135034f3
                      consentEntityId: 139554c8-e873-11e6-bf01-fe55135034f3
            schema:
              $ref: '#/components/schemas/consent_schema'
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              example:
                consents:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  consents:
                    - consent:
                        consentId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                        clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                        startTime: '01-16-2017 14:37:20.351'
                        status: APPROVED
                        endTime: '01-16-2017 14:37:20.351'
                        consentEntities:
                          consentEntities:
                            - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                              consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
              schema:
                $ref: '#/components/schemas/consents_schema'
      description: Get consents of a client
      operationId: GET_clients-clientid-consents
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientid}/consents/{consentid}':
    put:
      responses:
        '201':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_CONSENT_NOT_FOUND
                    message: >-
                      Client consent not found :
                      e9a4a447-833f-4c29-a3b6-f966a0a753aa
              schema:
                $ref: '#/components/schemas/consent_not_found'
      description: >-
        Update a client consent. The purpose of the API is to 1. Update the
        status of a consent (Allowed values APPROVED / REJECTED) 2. Update the
        status effective dates. 3. Update the consent entity types.
      operationId: PUT_clients-clientid-consents-consentid
      requestBody:
        content:
          application/json:
            example:
              consent:
                clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                startTime: '01-16-2017 14:37:20.351'
                endTime: '02-16-2017 14:37:20.351'
                consentEntities:
                  consentEntities:
                    - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                      consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
                    - consentTypeId: 13954e42-e873-11e6-bf01-fe55135034f3
                      consentEntityId: 139554c8-e873-11e6-bf01-fe55135034f3
            schema:
              $ref: '#/components/schemas/consent_schema'
        required: true
    delete:
      responses:
        '201':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_CONSENT_NOT_FOUND
                    message: >-
                      Client consent not found :
                      e9a4a447-833f-4c29-a3b6-f966a0a753aa
              schema:
                $ref: '#/components/schemas/consent_not_found'
      description: Delete a client consent
      operationId: DELETE_clients-clientid-consents-consentid
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              example:
                consent:
                  consentId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                  clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                  startTime: '01-16-2017 14:37:20.351'
                  status: APPROVED
                  endTime: '01-16-2017 14:37:20.351'
                  consentEntities:
                    consentEntities:
                      - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                        consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
              schema:
                $ref: '#/components/schemas/id_consent_schema'
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_CONSENT_NOT_FOUND
                    message: >-
                      Client consent not found :
                      e9a4a447-833f-4c29-a3b6-f966a0a753aa
              schema:
                $ref: '#/components/schemas/consent_not_found'
      description: Get a client consent details
      operationId: GET_clients-clientid-consents-consentid
    parameters:
      - name: consentid
        in: path
        required: true
        schema:
          type: string
      - name: clientid
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientid}/consents/{consentid}/documents':
    post:
      responses:
        '201':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_CONSENT_NOT_FOUND
                    message: >-
                      Client consent not found :
                      e9a4a447-833f-4c29-a3b6-f966a0a753aa
              schema:
                $ref: '#/components/schemas/consent_not_found'
      description: >
        Uploads the consent document (Verbal / signed document) for the client
        for a specific consent.  The content type should be multipart/form-data
        ( Content-Type: multipart/form-data).
      operationId: POST_clients-clientid-consents-consentid-documents
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                formData:
                  example: >
                    Content-Type: multipart/form-data;
                    boundary=WebKitFormBoundarytujNY4RwDez6d3Hk


                    --WebKitFormBoundarytujNY4RwDez6d3Hk

                    Content-Disposition: form-data; name="json"

                    Content-Type: application/json


                    { "type": "documents","remarks":"Project 1 consent document"
                    }


                    --WebKitFormBoundarytujNY4RwDez6d3Hk--

                    Content-Disposition: form-data; name="image";
                    filename="image.jpg"

                    Content-Type: application/octet-stream


                    ... content of image.jpg ...


                    --WebKitFormBoundarytujNY4RwDez6d3Hk--
                  type: string
              type: object
        required: true
    get:
      responses:
        '200':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_CONSENT_NOT_FOUND
                    message: >-
                      Client consent not found :
                      e9a4a447-833f-4c29-a3b6-f966a0a753aa
              schema:
                $ref: '#/components/schemas/consent_not_found'
      description: |
        Downloads all the consent documents associated with a specific consent.
      operationId: GET_clients-clientid-consents-consentid-documents
    parameters:
      - name: consentid
        in: path
        required: true
        schema:
          type: string
      - name: clientid
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientid}/consentrequests':
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              example:
                consentRequest:
                  consentRequestId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
              schema:
                $ref: '#/components/schemas/consent_request_id_schema'
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_NOT_FOUND
                    message: 'Client not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
              schema:
                $ref: '#/components/schemas/client_not_found'
      description: >-
        Create client consent request. A consent request can be made for a
        specific (or multiple) consent entity types and for a specific duration.
        Initially the status of the consent request will be set to "REQUESTED".
      operationId: POST_clients-clientid-consentrequests
      requestBody:
        content:
          application/json:
            example:
              consentRequest:
                clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                consentRequestedFrom: '01-16-2017 14:37:20.351'
                consentRequestedTo: '02-16-2017 14:37:20.351'
                consentEntities:
                  consentEntities:
                    - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                      consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
            schema:
              $ref: '#/components/schemas/consent_request_schema'
        required: true
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              example:
                consentRequests:
                  pagination:
                    from: 0
                    returned: 1
                    total: 1
                    maximum: 30
                    sort: {}
                  consentRequests:
                    - consentRequest:
                        consentRequestId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                        clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                        consentRequestedFrom: '01-16-2017 14:37:20.351'
                        status: APPROVED
                        consentEntities:
                          consentEntities:
                            - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                              consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
              schema:
                $ref: '#/components/schemas/consents_request_schema'
      description: Get consent requests of a client
      operationId: GET_clients-clientid-consentrequests
    parameters:
      - name: clientid
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientid}/consentrequests/{consentrequestid}':
    put:
      responses:
        '201':
          description: ''
        '403':
          description: ''
          content:
            application/json:
              schema:
                example:
                  errors:
                    - code: CANNOT_UPDATE_CONSENT_REQUEST
                      message: consent request already approved / rejected.
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_CONSENT_REQUEST_NOT_FOUND
                    message: >-
                      Client consent request not found :
                      e9a4a447-833f-4c29-a3b6-f966a0a753aa
              schema:
                $ref: '#/components/schemas/consent_request_not_found'
      description: >-
        Update a client consent request. Consent request can be updated only
        when the status is still in "REQUESTED" state.
      operationId: PUT_clients-clientid-consentrequests-consentrequestid
      requestBody:
        content:
          application/json:
            example:
              consentRequest:
                clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                consentRequestedFrom: '01-16-2017 14:37:20.351'
                consentRequestedTo: '02-16-2017 14:37:20.351'
                consentEntities:
                  consentEntities:
                    - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                      consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
            schema:
              $ref: '#/components/schemas/consent_request_schema'
        required: true
    delete:
      responses:
        '201':
          description: ''
        '403':
          description: ''
          content:
            application/json:
              schema:
                example:
                  errors:
                    - code: CANNOT_DELETE_CONSENT_REQUEST
                      message: consent request already approved / rejected.
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_CONSENT_REQUEST_NOT_FOUND
                    message: >-
                      Client consent request not found :
                      e9a4a447-833f-4c29-a3b6-f966a0a753aa
              schema:
                $ref: '#/components/schemas/consent_request_not_found'
      description: >-
        Delete a client consent request. Consent request can be deleted only
        when the status is still in "REQUESTED" state.
      operationId: DELETE_clients-clientid-consentrequests-consentrequestid
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              example:
                consentRequest:
                  consentRequestId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                  clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                  status: REQUESTED
                  consentRequestedFrom: '01-16-2017 14:37:20.351'
                  consentRequestedTo: '02-16-2017 14:37:20.351'
                  consentEntities:
                    consentEntities:
                      - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                        consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
              schema:
                $ref: '#/components/schemas/id_consent_request_schema'
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_CONSENT_REQUEST_NOT_FOUND
                    message: >-
                      Client consent request not found :
                      e9a4a447-833f-4c29-a3b6-f966a0a753aa
              schema:
                $ref: '#/components/schemas/consent_request_not_found'
      description: Get details for a specific client consent request.
      operationId: GET_clients-clientid-consentrequests-consentrequestid
    parameters:
      - name: consentrequestid
        in: path
        required: true
        schema:
          type: string
      - name: clientid
        in: path
        required: true
        schema:
          type: string
  '/clients/{clientid}/consentrequests/{consentrequestid}/statuses':
    put:
      responses:
        '404':
          description: ''
          content:
            application/json:
              example:
                errors:
                  - code: CLIENT_CONSENT_NOT_FOUND
                    message: >-
                      Client consent not found :
                      e9a4a447-833f-4c29-a3b6-f966a0a753aa
              schema:
                $ref: '#/components/schemas/consent_not_found'
      description: >-
        Approve or Reject client consent request. Once consent request is
        approved a new consent will be created for the requester project group
        and for the consent entity. The consent request, cannot be modified any
        further as it is already approved. Any changes to the duration of the
        consent etc. can be done on the consent directly. Allowed values for the
        consent request status are APPROVED / REJECTED.
      operationId: PUT_clients-clientid-consentrequests-consentrequestid-statuses
      requestBody:
        content:
          application/json:
            example:
              - consentRequestStatus:
                  approvalStatus: APPROVED
                  approvalStatusEffectiveFromDate: '01-16-2017 14:37:20.351'
                  approvalStatusEffectiveToDate: '01-24-2017 14:37:20.351'
                  remarks: ' Approved'
              - consentRequestStatus:
                  approvalStatus: REJECTED
                  approvalStatusEffectiveFromDate: '01-16-2017 14:37:20.351'
                  approvalStatusEffectiveToDate: '01-24-2017 14:37:20.351'
                  remarks: ' Client did not honor the request'
            schema:
              $ref: '#/components/schemas/client_consent_request_statuses_schema'
        required: true
    parameters:
      - name: consentrequestid
        in: path
        required: true
        schema:
          type: string
      - name: clientid
        in: path
        required: true
        schema:
          type: string
  /consententitytypes:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  consententitytypes:
                    pagination:
                      from: 0
                      returned: 2
                      total: 30
                      maximum: 30
                      sort: {}
                    consententitytypes:
                      - consententitytype:
                          entityTypeId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                          entityType: Project
                      - consententitytype:
                          entityTypeId: 2a484200-e2cb-4044-bee9-f0bbcea7eff3
                          entityType: coc
      description: Get consent entity types.
      operationId: GET_consententitytypes
components:
  schemas:
    client_not_found:
      required:
        - errors
      type: object
      properties:
        errors:
          type: array
          items:
            required:
              - code
              - message
            type: object
            properties:
              code:
                type: string
              message:
                type: string
    consent_id_schema:
      required:
        - consent
      type: object
      properties:
        consent:
          required:
            - consentId
          type: object
          properties:
            consentId:
              type: string
    consent_not_found:
      required:
        - errors
      type: object
      properties:
        errors:
          type: array
          items:
            required:
              - code
              - message
            type: object
            properties:
              code:
                type: string
              message:
                type: string
    consent_request_id_schema:
      required:
        - consentRequest
      type: object
      properties:
        consentRequest:
          required:
            - consentRequestId
          type: object
          properties:
            consentRequestId:
              type: string
    consent_request_not_found:
      required:
        - errors
      type: object
      properties:
        errors:
          type: array
          items:
            required:
              - code
              - message
            type: object
            properties:
              code:
                type: string
              message:
                type: string
    consent_request_schema:
      required:
        - consentRequest
      type: object
      properties:
        consentRequest:
          required:
            - clientId
            - consentRequestedFrom
            - consentRequestedTo
            - consentEntities
          type: object
          properties:
            clientId:
              type: string
            consentRequestedFrom:
              type: string
            consentRequestedTo:
              type: string
            consentEntities:
              required:
                - consentEntities
              type: object
              properties:
                consentEntities:
                  type: array
                  items:
                    required:
                      - consentTypeId
                      - consentEntityId
                    type: object
                    properties:
                      consentTypeId:
                        type: string
                      consentEntityId:
                        type: string
    consent_schema:
      required:
        - consent
      type: object
      properties:
        consent:
          required:
            - clientId
            - startTime
            - endTime
            - consentEntities
          type: object
          properties:
            clientId:
              type: string
            startTime:
              type: string
            endTime:
              type: string
            consentEntities:
              required:
                - consentEntities
              type: object
              properties:
                consentEntities:
                  type: array
                  items:
                    required:
                      - consentTypeId
                      - consentEntityId
                    type: object
                    properties:
                      consentTypeId:
                        type: string
                      consentEntityId:
                        type: string
    consents_request_schema:
      required:
        - consentRequests
      type: object
      properties:
        consentRequests:
          required:
            - pagination
            - consentRequests
          type: object
          properties:
            pagination:
              required:
                - from
                - returned
                - total
                - maximum
                - sort
              type: object
              properties:
                from:
                  type: integer
                returned:
                  type: integer
                total:
                  type: integer
                maximum:
                  type: integer
                sort:
                  type: object
            consentRequests:
              type: array
              items:
                required:
                  - consentRequest
                type: object
                properties:
                  consentRequest:
                    required:
                      - consentRequestId
                      - clientId
                      - consentRequestedFrom
                      - status
                      - consentEntities
                    type: object
                    properties:
                      consentRequestId:
                        type: string
                      clientId:
                        type: string
                      consentRequestedFrom:
                        type: string
                      status:
                        type: string
                      consentEntities:
                        required:
                          - consentEntities
                        type: object
                        properties:
                          consentEntities:
                            type: array
                            items:
                              required:
                                - consentTypeId
                                - consentEntityId
                              type: object
                              properties:
                                consentTypeId:
                                  type: string
                                consentEntityId:
                                  type: string
    consents_schema:
      required:
        - consents
      type: object
      properties:
        consents:
          required:
            - pagination
            - consents
          type: object
          properties:
            pagination:
              required:
                - from
                - returned
                - total
                - maximum
                - sort
              type: object
              properties:
                from:
                  type: integer
                returned:
                  type: integer
                total:
                  type: integer
                maximum:
                  type: integer
                sort:
                  type: object
            consents:
              type: array
              items:
                required:
                  - consent
                type: object
                properties:
                  consent:
                    required:
                      - consentId
                      - clientId
                      - startTime
                      - status
                      - endTime
                      - consentEntities
                    type: object
                    properties:
                      consentId:
                        type: string
                      clientId:
                        type: string
                      startTime:
                        type: string
                      status:
                        type: string
                      endTime:
                        type: string
                      consentEntities:
                        required:
                          - consentEntities
                        type: object
                        properties:
                          consentEntities:
                            type: array
                            items:
                              required:
                                - consentTypeId
                                - consentEntityId
                              type: object
                              properties:
                                consentTypeId:
                                  type: string
                                consentEntityId:
                                  type: string
    id_consent_request_schema:
      required:
        - consentRequest
      type: object
      properties:
        consentRequest:
          required:
            - consentRequestId
            - clientId
            - status
            - consentRequestedFrom
            - consentRequestedTo
            - consentEntities
          type: object
          properties:
            consentRequestId:
              type: string
            clientId:
              type: string
            status:
              type: string
            consentRequestedFrom:
              type: string
            consentRequestedTo:
              type: string
            consentEntities:
              required:
                - consentEntities
              type: object
              properties:
                consentEntities:
                  type: array
                  items:
                    required:
                      - consentTypeId
                      - consentEntityId
                    type: object
                    properties:
                      consentTypeId:
                        type: string
                      consentEntityId:
                        type: string
    id_consent_schema:
      required:
        - consent
      type: object
      properties:
        consent:
          required:
            - consentId
            - clientId
            - startTime
            - status
            - endTime
            - consentEntities
          type: object
          properties:
            consentId:
              type: string
            clientId:
              type: string
            startTime:
              type: string
            status:
              type: string
            endTime:
              type: string
            consentEntities:
              required:
                - consentEntities
              type: object
              properties:
                consentEntities:
                  type: array
                  items:
                    required:
                      - consentTypeId
                      - consentEntityId
                    type: object
                    properties:
                      consentTypeId:
                        type: string
                      consentEntityId:
                        type: string
    client_consent_request_statuses_schema:
      type: array
      items:
        required:
          - consentRequestStatus
        type: object
        properties:
          consentRequestStatus:
            required:
              - approvalStatus
              - approvalStatusEffectiveFromDate
              - approvalStatusEffectiveToDate
            type: object
            properties:
              approvalStatus:
                type: string
              approvalStatusEffectiveFromDate:
                type: string
              approvalStatusEffectiveToDate:
                type: string
              remarks:
                type: string
  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  headers: {}
  securitySchemes:
    oauth_2_0:
      description: |
        The HMIS API supports OAuth 2.0 for authenticating all API requests.
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://hmislynk.com/hmis-authorization-service/rest/token'
          scopes:
            user: ''
            administrator: ''
  links: {}
  callbacks: {}