#%RAML 1.0
title: Client Consent
version: 1.0.0
mediaType: application/json
protocols:
  - HTTPS
baseUri: 'https://www.hmislynk.com/'
securedBy: [oauth_2_0]
securitySchemes:
  oauth_2_0: !include security-schemes/oauth_2_0.raml
types:
  client_not_found: !include schemas/client_not_found.json
  consent_id_schema: !include schemas/consent_id_schema.json
  consent_not_found: !include schemas/consent_not_found.json
  consent_request_id_schema: !include schemas/consent_request_id_schema.json
  consent_request_not_found: !include schemas/consent_request_not_found.json
  consent_request_schema: !include schemas/consent_request_schema.json
  consent_schema: !include schemas/consent_schema.json
  consents_request_schema: !include schemas/consents_request_schema.json
  consents_schema: !include schemas/consents_schema.json
  id_consent_request_schema: !include schemas/id_consent_request_schema.json
  id_consent_schema: !include schemas/id_consent_schema.json
  client_consent_request_statuses_schema: !include schemas/client_consent_request_statuses_schema.json
/clients:
  /{clientid}:
    /consents:
      post:
        description: Create client consent. NOTE- A client consent will also be created when a consent request is approved.
        responses:
          '200':
            body:
              application/json:
                example:
                  consent:
                    consentId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                type: consent_id_schema
          '404':
            body:
              application/json:
                example:
                  errors:
                    - code: CLIENT_NOT_FOUND
                      message: 'Client not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                type: client_not_found
        body:
          application/json:
            example:
              consent:
                clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                startTime: '01-16-2017 14:37:20.351'
                endTime: '02-16-2017 14:37:20.351'
                consentEntities:
                  consentEntities:
                    - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                      consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
                    - consentTypeId: 13954e42-e873-11e6-bf01-fe55135034f3
                      consentEntityId: 139554c8-e873-11e6-bf01-fe55135034f3
            type: consent_schema
      get:
        description: Get consents of a client
        responses:
          '200':
            body:
              application/json:
                example:
                  consents:
                    pagination:
                      from: 0
                      returned: 1
                      total: 1
                      maximum: 30
                      sort: {}
                    consents:
                      - consent:
                          consentId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                          clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                          startTime: '01-16-2017 14:37:20.351'
                          status: APPROVED
                          endTime: '01-16-2017 14:37:20.351'
                          consentEntities:
                            consentEntities:
                              - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                                consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
                type: consents_schema
      /{consentid}:
        put:
          description: Update a client consent. The purpose of the API is to 1. Update the status of a consent (Allowed values APPROVED / REJECTED) 2. Update the status effective dates. 3. Update the consent entity types.
          responses:
            '201': {}
            '404':
              body:
                application/json:
                  example:
                    errors:
                      - code: CLIENT_CONSENT_NOT_FOUND
                        message: 'Client consent not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                  type: consent_not_found
          body:
            application/json:
              example:
                consent:
                  clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                  startTime: '01-16-2017 14:37:20.351'
                  endTime: '02-16-2017 14:37:20.351'
                  consentEntities:
                    consentEntities:
                      - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                        consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
                      - consentTypeId: 13954e42-e873-11e6-bf01-fe55135034f3
                        consentEntityId: 139554c8-e873-11e6-bf01-fe55135034f3
              type: consent_schema
        delete:
          description: Delete a client consent
          responses:
            '201': {}
            '404':
              body:
                application/json:
                  example:
                    errors:
                      - code: CLIENT_CONSENT_NOT_FOUND
                        message: 'Client consent not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                  type: consent_not_found
        get:
          description: Get a client consent details
          responses:
            '200':
              body:
                application/json:
                  example:
                    consent:
                      consentId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                      clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                      startTime: '01-16-2017 14:37:20.351'
                      status: APPROVED
                      endTime: '01-16-2017 14:37:20.351'
                      consentEntities:
                        consentEntities:
                          - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                            consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
                  type: id_consent_schema
            '404':
              body:
                application/json:
                  example:
                    errors:
                      - code: CLIENT_CONSENT_NOT_FOUND
                        message: 'Client consent not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                  type: consent_not_found
        uriParameters:
          consentid: {}
        /documents:
          post:
            description: |
              Uploads the consent document (Verbal / signed document) for the client for a specific consent.  The content type should be multipart/form-data ( Content-Type: multipart/form-data).
            responses:
              '201':
                body:
                  application/json:
                    required: false
              '404':
                body:
                  application/json:
                    example:
                      errors:
                        - code: CLIENT_CONSENT_NOT_FOUND
                          message: 'Client consent not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                    type: consent_not_found
            body:
              multipart/form-data:
                properties:
                  formData:
                    example: !include examples/documents_example.json
                    type: string
                    required: false
          get:
            description: |
              Downloads all the consent documents associated with a specific consent.
            responses:
              '200':
                body:
                  application/json:
                    required: false
              '404':
                body:
                  application/json:
                    example:
                      errors:
                        - code: CLIENT_CONSENT_NOT_FOUND
                          message: 'Client consent not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                    type: consent_not_found
    uriParameters:
      clientid: {}
    /consentrequests:
      post:
        description: Create client consent request. A consent request can be made for a specific (or multiple) consent entity types and for a specific duration. Initially the status of the consent request will be set to "REQUESTED".
        responses:
          '200':
            body:
              application/json:
                example:
                  consentRequest:
                    consentRequestId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                type: consent_request_id_schema
          '404':
            body:
              application/json:
                example:
                  errors:
                    - code: CLIENT_NOT_FOUND
                      message: 'Client not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                type: client_not_found
        body:
          application/json:
            example:
              consentRequest:
                clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                consentRequestedFrom: '01-16-2017 14:37:20.351'
                consentRequestedTo: '02-16-2017 14:37:20.351'
                consentEntities:
                  consentEntities:
                    - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                      consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
            type: consent_request_schema
      get:
        description: Get consent requests of a client
        responses:
          '200':
            body:
              application/json:
                example:
                  consentRequests:
                    pagination:
                      from: 0
                      returned: 1
                      total: 1
                      maximum: 30
                      sort: {}
                    consentRequests:
                      - consentRequest:
                          consentRequestId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                          clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                          consentRequestedFrom: '01-16-2017 14:37:20.351'
                          status: APPROVED
                          consentEntities:
                            consentEntities:
                              - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                                consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
                type: consents_request_schema
      /{consentrequestid}:
        put:
          description: Update a client consent request. Consent request can be updated only when the status is still in "REQUESTED" state.
          responses:
            '201': {}
            '403':
              body:
                application/json:
                  example:
                    errors:
                      - code: CANNOT_UPDATE_CONSENT_REQUEST
                        message: consent request already approved / rejected.
                  required: false
            '404':
              body:
                application/json:
                  example:
                    errors:
                      - code: CLIENT_CONSENT_REQUEST_NOT_FOUND
                        message: 'Client consent request not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                  type: consent_request_not_found
          body:
            application/json:
              example:
                consentRequest:
                  clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                  consentRequestedFrom: '01-16-2017 14:37:20.351'
                  consentRequestedTo: '02-16-2017 14:37:20.351'
                  consentEntities:
                    consentEntities:
                      - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                        consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
              type: consent_request_schema
        delete:
          description: Delete a client consent request. Consent request can be deleted only when the status is still in "REQUESTED" state.
          responses:
            '201': {}
            '403':
              body:
                application/json:
                  example:
                    errors:
                      - code: CANNOT_DELETE_CONSENT_REQUEST
                        message: consent request already approved / rejected.
                  required: false
            '404':
              body:
                application/json:
                  example:
                    errors:
                      - code: CLIENT_CONSENT_REQUEST_NOT_FOUND
                        message: 'Client consent request not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                  type: consent_request_not_found
        get:
          description: Get details for a specific client consent request.
          responses:
            '200':
              body:
                application/json:
                  example:
                    consentRequest:
                      consentRequestId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                      clientId: 4cfe2ac2-43af-4d6d-9ee8-0e8fac5e3dc8
                      status: REQUESTED
                      consentRequestedFrom: '01-16-2017 14:37:20.351'
                      consentRequestedTo: '02-16-2017 14:37:20.351'
                      consentEntities:
                        consentEntities:
                          - consentTypeId: bd4f1ad9-5e6e-495d-9d49-b8fdcff38bd9
                            consentEntityId: 0d61a895-197a-4e4c-8626-a8b78d9e18f1
                  type: id_consent_request_schema
            '404':
              body:
                application/json:
                  example:
                    errors:
                      - code: CLIENT_CONSENT_REQUEST_NOT_FOUND
                        message: 'Client consent request not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                  type: consent_request_not_found
        uriParameters:
          consentrequestid: {}
        /statuses:
          put:
            description: 'Approve or Reject client consent request. Once consent request is approved a new consent will be created for the requester project group and for the consent entity. The consent request, cannot be modified any further as it is already approved. Any changes to the duration of the consent etc. can be done on the consent directly. Allowed values for the consent request status are APPROVED / REJECTED.'
            responses:
              '404':
                body:
                  application/json:
                    example:
                      errors:
                        - code: CLIENT_CONSENT_NOT_FOUND
                          message: 'Client consent not found : e9a4a447-833f-4c29-a3b6-f966a0a753aa'
                    type: consent_not_found
            body:
              application/json:
                example:
                  [
                     "consentRequestStatus":{
                        "approvalStatus":"APPROVED",
                        "approvalStatusEffectiveFromDate":"01-16-2017 14:37:20.351",
                        "approvalStatusEffectiveToDate":"01-24-2017 14:37:20.351",
                        "remarks":" Approved"
                     },
                     "consentRequestStatus":{
                        "approvalStatus":"REJECTED",
                        "approvalStatusEffectiveFromDate":"01-16-2017 14:37:20.351",
                        "approvalStatusEffectiveToDate":"01-24-2017 14:37:20.351",
                        "remarks":" Client did not honor the request"
                     }
                  ]
                type: client_consent_request_statuses_schema
/consententitytypes:
  get:
    description: Get consent entity types.
    responses:
      '200':
        body:
          application/json:
            example:
              consententitytypes:
                pagination:
                  from: 0
                  returned: 2
                  total: 30
                  maximum: 30
                  sort: {}
                consententitytypes:
                  - consententitytype:
                      entityTypeId: 2a484199-e2cb-4044-bee9-f0bbcea7eff3
                      entityType: Project
                  - consententitytype:
                      entityTypeId: 2a484200-e2cb-4044-bee9-f0bbcea7eff3
                      entityType: coc
            required: false
